@charest "UTF-8";
h1 {
  text-align: center;
}
.syoukairisuto{
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  align-content: center;
  gap:0%;
      }
.element{
  max-width:100%;
  width: 32%;
  gap:0px;
}
